.inputdata{
    margin-top: 30px;
    margin-bottom: 30px;
}

.container{
    display: flex;
        
}


/* テーブルのスタイル */
.table_container {
    margin-left: 50px;

}


.col_da {
    width: 30rem;
}
.col_co {
    width: 100rem;
}

.col_de {
    width: 30rem;
}
